<!-- IF S_TYPE == 1 and RECAPTCHA_VERSION == "v2_checkbox" -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>{L_CONFIRMATION}</h3>
	<!-- IF S_RECAPTCHA_AVAILABLE --><p>{L_CONFIRM_EXPLAIN}</p><!-- ENDIF -->

	<fieldset class="fields2">
<!-- ENDIF -->

<!-- IF S_RECAPTCHA_AVAILABLE -->
	<!-- IF RECAPTCHA_VERSION == "v2_checkbox" -->
	<dl>
	<dt><label>{L_CONFIRM_CODE}</label>:<br /><span>{L_RECAPTCHA_EXPLAIN}</span></dt>
	<dd>
	<!-- ENDIF -->
		{RECAPTCHA_HTML}
	<!-- IF RECAPTCHA_VERSION == "v2_checkbox" -->
	</dd>
	</dl>
	<!-- ENDIF -->
<!-- ELSE -->
<p>{L_RECAPTCHA_NOT_AVAILABLE}</p>
<!-- ENDIF -->

<!-- IF S_TYPE == 1 and RECAPTCHA_VERSION == "v2_checkbox" -->
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
