
	<!-- IF RECAPTCHA_VERSION == "v2_checkbox" -->
	<tr>
		<th colspan="2" valign="middle">{L_CONFIRM_CODE}</th>
	</tr>
		<!-- IF S_TYPE == 1 and RECAPTCHA_VERSION == "v2_checkbox" -->
	<tr>
		<td class="row3" colspan="2"><span class="gensmall">{L_CONFIRM_EXPLAIN}</span></td>
	</tr>
		<!-- ENDIF -->	
	<tr>
		<!-- IF S_RECAPTCHA_AVAILABLE -->
		<td class="row1"><b class="genmed">{L_CONFIRM_CODE}:</b><br /><span class="gensmall">{L_RECAPTCHA_EXPLAIN}</span></td>
		<td class="row2">
		<!-- ELSE -->
		<td class="row1" colspan="2">
		<!-- ENDIF -->
	<!-- ENDIF -->
	<!-- IF S_RECAPTCHA_AVAILABLE -->
		{RECAPTCHA_HTML}
	<!-- ELSE -->
		{L_RECAPTCHA_NOT_AVAILABLE}
	<!-- ENDIF -->
	<!-- IF RECAPTCHA_VERSION == "v2_checkbox" -->
		</td>
	</tr>
	<!-- ENDIF -->

