<!-- IF S_RECAPTCHA_AVAILABLE -->
	<tr>
		<th colspan="2" valign="middle">{L_CONFIRM_CODE}</th>
	</tr>
	<tr>
		<td class="row1"><b class="genmed">{L_CONFIRM_CODE}:</b><br /><span class="gensmall">{L_RECAPTCHA_EXPLAIN}</span></td>
		<td class="row2">
		<script type="text/javascript" src="{RECAPTCHA_SERVER}/api.js?hl={L_RECAPTCHA_LANG}" async defer></script>
		<script type="text/javascript">
		// <![CDATA[
		<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
			document.getElementById('recaptcha_table').style.direction = 'ltr';
		<!-- ENDIF -->
		// ]]>
		</script>
			<div class="g-recaptcha" data-sitekey="{RECAPTCHA_PUBKEY}" data-tabindex="<!-- IF $CAPTCHA_TAB_INDEX -->{$CAPTCHA_TAB_INDEX}<!-- ELSE -->10<!-- ENDIF -->"></div>
			<noscript>
				<div>{L_RECAPTCHA_NOSCRIPT}</div>
			</noscript>
		</td>
	</tr>

<!-- ELSE -->
{L_RECAPTCHA_NOT_AVAILABLE}
<!-- ENDIF -->
